<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>month</servlet-name>
		<jsp-file>/month.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>month</servlet-name>
		<url-pattern>/month</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>year</servlet-name>
		<jsp-file>/year.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PropertiesReader</display-name>
		<servlet-name>PropertiesReader</servlet-name>
		<servlet-class>controller.PropertiesReader</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WeekPrep</display-name>
		<servlet-name>WeekPrep</servlet-name>
		<servlet-class>controller.WeekPrep</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>year</servlet-name>
		<url-pattern>/year</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PropertiesReader</servlet-name>
		<url-pattern>/PropertiesReader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeekPrep</servlet-name>
		<url-pattern>/WeekPrep</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
</web-app>
