<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	
	<display-name>Archetype Created Web Application</display-name>
	<listener>
		<listener-class>controller.DataBaseConnection</listener-class>
	</listener>

	<servlet>
		<servlet-name>month</servlet-name>
		<jsp-file>/month.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>month</servlet-name>
		<url-pattern>/month</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>year</servlet-name>
		<jsp-file>/year.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>year</servlet-name>
		<url-pattern>/year</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
</web-app>
